<% @page_title = "Home" %>

<%= erb :header %>

<h2>GHoWSt DUETS</h2>

<img src="/images/ghowstduetslogo.png" alt="GHoWSt DUETS logo" width="744" height="682" style="width: auto; height: 72px; float: left; margin-right: 10px; margin-bottom: 10px;">

<h3>Depend Upon Existing Technology Stack</h3>

<p>The time is <%= @date.iso8601(3) %>. <%= my_function("Ruby") %>.</p>

<p>Request URI: <%= @request_uri %></p>

<%= erb :footer %>